body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    font-size: 16px;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 24px;
}

.container ul li {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.menu-nav {
    align-items: flex-start;
    gap: 40px;
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    line-height: 1.17;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
}

.logo-color {
    color: #2e2f42;
}

.menu-nav .nav-list {
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.nav-list {
    padding: 24px 0;
    gap: 40px;
}

.contacts-list {
    gap: 40px;
}

.nav-link {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    gap: 40px;
}

.nav-link:hover {
    color: #404BBF;
}

.nav-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

ul {
    list-style: none;
}

/* contacts */

.contacts {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.contacts-link {
    text-decoration: none;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/* hero-section */

.hero-section .container {
    line-height: 1.07;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.hero-section {
    padding: 188px 0;
    display: flex;
    background-color: #2e2f42;
}

.main-heading {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto 48px;
    max-width: 496px;
    
}

.button {
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    display: block;
    min-width: 169px;
}

.button:hover {
    background-color: #404BBF;
}

.button:active {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/* Section 1 */

.visually-hidden {
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-section {
    padding-bottom: 120px;
    padding-top: 120px;
    gap: 24px;
}

.features-section li {
    width: 264px;
}

.features-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-desc {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section 2 */

.our-team-section .container {
    display: block;
    text-align: center;
 }

.our-team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.job-name-list {
    padding: 32px 0;
}

.our-team-list-element {
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
}

.desc-our-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding: 0;
    margin-bottom: 8px;
}

.job-title {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding: 0;
}

/* Section 3 */

.our-portfolio-section .container {
    display: block;
    text-align: center;
}

.our-portfolio-section {
    padding: 120px 0;
}

.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-portfolio-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 72px 0 120px;
    
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portfolio-list-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    gap: 8px;
    width: calc((100% - 48px) / 3);
    border: 1px solid #e7e9fc;
}

.app-name-list {
    text-align: left;
    padding: 32px 16px;
    margin: 0;
    list-style: none;
    border-top: none;
}

.desc-our-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-desc {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */


.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
    flex-direction: row;
    gap: 0px;
   
}

.logo-color-footer {
    color: #f4f4fd;
}

.logo-desc {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-size: 16px;
    text-transform: lowercase;
    flex-direction: column;
    max-width: 264px;
}